* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #282c34;
    font-family: Arial, sans-serif;
}

.clock-container {
    text-align: center;
}

#clock {
    font-size: 60px;
    color: #61dafb;
    letter-spacing: 3px;
}
